<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Room Chat</title>
    <style>
    body, html{
        width: 100%;
        height: 100%;
    }
    .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    </style>
</head>

<body>
    <div class="container alert text-white bg-dark">
        <h3 class="text-center">Sign In</h3>
        <form action="{% url 'sign_in' %}" class="alert" method="post">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-success">Sign In</button>
        </form>
        <p>If You Have No Account click Here.. <a href="/sign_up">Sign_Up</a></p>
    </div>
    <script>
        $('input').addClass('form-control')
        $('input').css('margin-bottom', '20px')
    </script>
</body>

</html>